<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Semi Restful TV Show</title>
    </head>
    <body>
        <h1>Add a New Show</h1>
    </body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/submitted", method="POST">
        {% csrf_token %}
        <p>Title<input type="text" name="title"></p>
        <p>Network<input type="text" name="network"></p>
        <p>Release Date<input type="date" name="release"></p>
        <p>Description<input type="text" name="desc"></p>
        <input type="submit" value="Create">
    </form>
</html>